/* <style src="./css/common.css"></style> */
.debug {
  background-color:pink;
}
.center {
  justify-content: center;
  align-items: center;
}
.line {
  background-color: #efefef;
  height: 2px;
  width: 750px;
}
.text {
  color: #1a1210;
}